*.*~
/.gradle
/*.log
/.emacs.desktop
/.emacs.desktop.lock
/target
/bin
/build
*.iml
.gradle
/local.properties
/.idea/*.xml
/.idea/libraries
/.idea/dictionaries
.idea/workspace.xml
.DS_Store
/build
/captures
